  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="https://www.mozillascience.org">
            <img src="img/ScienceLabSticker.ai.png" class="img-responsive img-centered" alt="">
          </a>
          
          <a href="https://github.com/ecodatasci-tlv/website/blob/master/codeOfConduct.md">{{site.data[site.language].codeOfConduct}}</a>
         </div>
          <div class="col-lg-6">
          <a href = "https://english.tau.ac.il/">
            <img src = "https://english.tau.ac.il/sites/default/files/TAU_Logo_HomePage_Eng.png" class = "img-responsive img-centered" alt = "">
          </a>
        </div>
        
        
        
      </div>
    </div>
  </footer>
